<header
    class="py-3 px-8 bg-[#350E5E] w-fit text-white flex gap-x-8 rounded-full sticky mt-4 mx-auto shadow-inner-[0px] shadow-white/20"
>
    <a href="#" class="hover:bg-white/10">Inicio</a>
    <a href="#">Proyectos</a>
    <a href="#">Experiencia</a>
    <a href="#">Sobre Mi</a>
    <a href="#">¡Hablemos!</a>
</header>
